
.Notifications {
	    border: double;
	    border-color: rgb(0, 0, 0);
		   padding-left: 1rem;
	    }
					[data-priority="default"] {
						color: blue;
		}
		[data-priority="urgent"] {
						color: red;
		}
